<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DAO Sample (EntityManager)</title>
</head>
<body>
    <h1>DAO Sample page</h1>
    <p th:text="${msg}"></p>
    <table border="1">
        <tr><th>ID</th><th>顧客名</th><th>性別（men/women）</th><th>年齢</th><th>メールアドレス</th><th>コメント</th></tr>
        <tr th:each="obj : ${customers}">
            <td th:text="${obj.id}"></td>
            <td th:text="${obj.name}"></td>
            <td th:text="${obj.gender}"></td>
            <td th:text="${obj.email}"></td>
            <td th:text="${obj.comment}"></td>
        </tr>
    </table>
</body>
</html>